html, body {
	height: 100%;
}

body	{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../img/dark_embroidery.png);
	background-repeat: repeat;
	}

#wrapper {
min-height: 100%;
margin-bottom: -40px; 
}
#wrapper:after {
  content: "";
  display: block;
}
header {	
	border-bottom: inset #cccccc;
	height: 100px;
	width: 100%;
	background-color: #ffffff
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left:auto;
}

h1 {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	background-color: #4aaaa6;
	width: 270px;
	margin: 10px 0 0 0px;
	padding: 30px;
	font-size: 30px;
	color:white;
	font-weight: bold;
}

nav	{
	float: right;
	margin: 50px 0px 0px 300px;
}

nav li {
	list-style: none;
	float: left;
	padding: 0px 20px 10px 20px;
	display: inline-block;
}

nav li a:hover {
		background-color: #4aaaa6;
		padding: 10px;
		margin-right: -20px;
		color:white;
		border-top: 2px grey solid; 
		padding-bottom: 30px;
		}

nav	li a {
	color: #969c9a;
}

#content {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#main	{
	float: left;
	border: solid #dddddd;
	padding: 20px;
	width: 604px;
	margin-bottom: 30px;
	height: 100%;
	background-color: #ffffff;

}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	font-weight: bold;
	font-size: 30px;
	border-bottom: thin solid #dddddd;
	padding: 10px 0px 20px 0px;
}

article {
	width: 590px;
	margin-top: 30px;
	text-align: justify;
	line-height: 150%;
	color:#777777;
}

#profile_pic {
	float: left;	
	margin: 10px  30px 10px 0px;
	width: 220px;
}


/* Start of css for Portfolio images*/
.category {
	float: left;
	position: relative;
	padding: 0px 70px 30px 0px;
}

.category_frame {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa6;
	text-align: center;
	height: 40px;
	top: 120px;
	padding: 10px;
	z-index: 1000;
	position: absolute;
	width: 240px;
	color: #f3fafd;
	font-size: 20px;
}

.leftimage {
	padding: 0px 0px 30px 0px;
	margin-right: -5px;
}
/*End of portfolio*/

/*begining of Contact Form*/

form {
	height: 430px;
	margin: 40px 0 0 0;
	color: #737685;
	font: 20px bold;
}

input {
	margin-bottom: 10px;
	width: 100%

}

.message {
	width: 100%;
	height: 250px;
	text-align: none;
	overflow: hidden;


}

.btn {
    background-color: #4aaaa6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold ;

}

/*End fo contact form*/


article img 	{
	width: 260px;
	height: 200px;
}

aside {
	float: left;
	width: 265px;
	height: 150px;
	margin-left: 40px;
	box-sizing: border-box;
	border:solid #dddddd;
	background-color: #ffffff;
}

h3 {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	font-weight: bold;
	font-size: 20px;
	border-bottom: thin solid #dddddd;
	padding: 20px 0px 20px 0px;
	margin-right: auto;
	margin-left: auto;
	width: 180px;


}
#icons {
	padding-top: 15px;
	margin:0 auto 0;
	width: 200px;
}

#github{
	background: url(../img/github.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left;
	margin-left:10px;
}

#github:hover {
	width: 100px;
	background: url(../img/github_hover.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left
}

#linkedin{
	background: url(../img/linkedin.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left;
	margin-left:10px;
}

#linkedin:hover {
	width: 100px;
	background: url(../img/linkedin_hover.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left
}

#stackoverflow{
	background: url(../img/stackoverflow.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left;
	margin-left:10px;
}

#stackoverflow:hover {
	width: 100px;
	background: url(../img/stackoverflow_hover.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left
}
footer	{
	background-color: #666666;
	height: 40px;
	width: 100%;
	clear: both;
	border-top: solid thick #4aa7a5;  
}

footer p {
	width: 240px;
	padding: 10px;
	margin:auto;
	font-size: 12px;
	color:#b4bcc1;
}
